---
dependency:
  name: galaxy
driver:
  name: docker
lint: yamllint -s . && ansible-lint . && flake8
platforms:
  - name: instance
    image: ${IMAGE:-geerlingguy/docker-ubuntu2004-ansible}
    tmpfs:
      - /mnt/data1
      - /mnt/data2
      - /mnt/data3
      - /mnt/parity1
      - /mnt/parity2
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    pre_build_image: true
verifier:
  name: testinfra
