tests/test.yml
site
.vagrant
*.retry
*.log
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/

# inventories
/inventories/*
!inventories/sample/